In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import re
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
import nltk

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/manipulaeHealth/desafio-machine-learning/main/dados_preco.csv")
df.head()

,descricao,criado,qtdInsumos,calculado,correto
0,30 CAP | BUPROPIONA CLORIDRATO 150MG,2020-08-05 23:19:09,1,47.5297,39.9
1,60 CAP | FINASTERIDA 1:10 1MG,2020-08-05 22:51:09,1,46.9620,43.6
2,60 CAP | NAC 250MG; SILIMARINA 150MG; SAME ...,2020-08-05 22:51:09,3,105.1390,111.4
3,60 CAP | ANASTROZOL 1:10 0.300MG,2020-08-05 22:51:09,1,49.0314,43.6
4,120 CAP | DUTASTERIDA 0.250MG; TADALAFIL 10MG,2020-08-05 22:49:09,2,161.8272,146.0

In [3]:
df.descricao

0                   30 CAP | BUPROPIONA CLORIDRATO  150MG
1                          60 CAP | FINASTERIDA 1:10  1MG
2       60 CAP | NAC  250MG; SILIMARINA  150MG; SAME  ...
3                        60 CAP | ANASTROZOL 1:10 0.300MG
4          120 CAP | DUTASTERIDA 0.250MG; TADALAFIL  10MG
                              ...
7116    45 CAP | SERTRALINA CLORIDRATO  40MG; SLENDEST...
7117                         120 CAP | GREENSELECT  120MG
7118    60 CAP | MAGNESIO QUELADO 30%  220MG; SELENIO ...
7119    30 CAP | VALERIANA  50MG; PASSIFLORA  500MG; C...
7120    60 CAP | ACIDO TRANEXAMICO  200MG; BIOTINA 2.5...
Name: descricao, Length: 7121, dtype: object

In [4]:
df.describe()

        qtdInsumos     calculado       correto
count  7121.000000   7121.000000   7121.000000
mean      3.281842    137.089552    135.891798
std       3.194301    191.266516    189.806974
min       1.000000     30.000100     33.000000
25%       1.000000     49.786100     49.500000
50%       2.000000     87.350300     83.100000
75%       4.000000    165.167000    161.200000
max      26.000000  10364.992500  10356.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7121 entries, 0 to 7120
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   descricao   7121 non-null   object
 1   criado      7121 non-null   object
 2   qtdInsumos  7121 non-null   int64
 3   calculado   7121 non-null   float64
 4   correto     7121 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 278.3+ KB

In [6]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [7]:
lst = []
qtdd_cap = []
for descricao in df.descricao:
    lst = descricao.split(" ")
    qtdd_cap.append(lst[0])

df["qtdd_cap"] = qtdd_cap
df.head()

,descricao,criado,qtdInsumos,calculado,correto,qtdd_cap
0,30 CAP | BUPROPIONA CLORIDRATO 150MG,2020-08-05 23:19:09,1,47.5297,39.9,30
1,60 CAP | FINASTERIDA 1:10 1MG,2020-08-05 22:51:09,1,46.9620,43.6,60
2,60 CAP | NAC 250MG; SILIMARINA 150MG; SAME ...,2020-08-05 22:51:09,3,105.1390,111.4,60
3,60 CAP | ANASTROZOL 1:10 0.300MG,2020-08-05 22:51:09,1,49.0314,43.6,60
4,120 CAP | DUTASTERIDA 0.250MG; TADALAFIL 10MG,2020-08-05 22:49:09,2,161.8272,146.0,120

In [8]:
l=[]
for s in df['descricao']:
    
    #Remove punctuations
    s=re.sub(r'[^\w\s]','',s)
    
    #Remove Units
    s=re.sub(r"(\d\w*)", "", s)
    
    #Remove Digits
    s=re.sub(r"(\d)", "", s)
    
    #Remove content inside paranthesis
    s=re.sub(r'\([^)]*\)', '', s)
    
    #Convert to lowercase
    s=s.lower()
    
    #Remove 'cap', 'mg':
    s=re.sub(r"cap", "", s)
    
    #Remover espaços duplos
    s=re.sub(r"(\s\s\s)", " ", s)
    s=re.sub(r"(\s\s)", " ", s)
    s=re.sub(r"  ", "5htp", s)
    
# 'MG', 'MCG', 'UI', 'MIL', nan, 'SL', 'OL', 'MK', 'LI', 'OH', 'EM',
#        'AL', 'TM', 'PI', 'PL', 'MTH', 'BL', 'BI'

    l.append(s)
df['desc_mod']=l
print(df.head())

                                           descricao               criado  \
0              30 CAP | BUPROPIONA CLORIDRATO  150MG  2020-08-05 23:19:09
1                     60 CAP | FINASTERIDA 1:10  1MG  2020-08-05 22:51:09
2  60 CAP | NAC  250MG; SILIMARINA  150MG; SAME  ...  2020-08-05 22:51:09
3                   60 CAP | ANASTROZOL 1:10 0.300MG  2020-08-05 22:51:09
4     120 CAP | DUTASTERIDA 0.250MG; TADALAFIL  10MG  2020-08-05 22:49:09

   qtdInsumos  calculado  correto qtdd_cap                 desc_mod
0           1    47.5297     39.9       30   bupropiona cloridrato
1           1    46.9620     43.6       60             finasterida
2           3   105.1390    111.4       60     nac silimarina same
3           1    49.0314     43.6       60              anastrozol
4           2   161.8272    146.0      120   dutasterida tadalafil

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7121 entries, 0 to 7120
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   descricao   7121 non-null   object
 1   criado      7121 non-null   object
 2   qtdInsumos  7121 non-null   int64
 3   calculado   7121 non-null   float64
 4   correto     7121 non-null   float64
 5   qtdd_cap    7121 non-null   object
 6   desc_mod    7121 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 389.6+ KB

# Método 1 - Usando TF-IDF Vectorizer

In [10]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['desc_mod'])
print(X)

  (0, 276)	0.6141180419539541
  (0, 181)	0.789214185469725
  (1, 457)	1.0
  (2, 1076)	0.6625831234428081
  (2, 1115)	0.5089600989467216
  (2, 813)	0.5494936052484285
  (3, 56)	1.0
  (4, 1159)	0.6668390766180434
  (4, 381)	0.7452017484515151
  (5, 1035)	0.5624051226553911
  (5, 1132)	0.5624051226553911
  (5, 1232)	0.6061360870480729
  (7, 21)	0.2510816038897726
  (7, 1006)	0.2510816038897726
  (7, 411)	0.23643743892375102
  (7, 1089)	0.2570727734741817
  (7, 426)	0.259014243210395
  (7, 893)	0.21535220180528536
  (7, 1082)	0.21589687880061117
  (7, 316)	0.15083715150442417
  (7, 337)	0.13417473004201416
  (7, 937)	0.1742636872188274
  (7, 725)	0.13003115060070566
  (7, 1093)	0.15114070315900582
  (7, 1012)	0.3682144803361376
  :	:
  (7116, 411)	0.24868854309855473
  (7116, 316)	0.1586528412062031
  (7116, 276)	0.17211552511768471
  (7117, 546)	1.0
  (7118, 1222)	0.24094972589363967
  (7118, 733)	0.2467410983958757
  (7118, 1280)	0.16949939187231458
  (7118, 298)	0.24454785368194246
  (7118, 1018)	0.2141990646790595
  (7118, 550)	0.2219071561927005
  (7118, 767)	0.1859959923612674
  (7118, 283)	0.19773179465332286
  (7118, 316)	0.17658030634029295
  (7118, 725)	0.1522233758583005
  (7118, 1093)	0.17693566470937858
  (7118, 1012)	0.7184285070377139
  (7118, 1295)	0.1480326193206689
  (7119, 1261)	0.479759712351175
  (7119, 197)	0.624758341367282
  (7119, 912)	0.4593382275556968
  (7119, 1089)	0.28917828563934483
  (7119, 426)	0.2913622232160529
  (7120, 1221)	0.7715990195147789
  (7120, 151)	0.47515865349313935
  (7120, 13)	0.4229174944293727

In [11]:
y = []
y = df.correto

### Método 1 - Decision Tree

In [12]:
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.3, random_state=6)

# Define model. Specify a number for random_state to ensure same results each run
df_decision_tree_model = DecisionTreeRegressor(random_state=1)

# Fit model
df_decision_tree_model.fit(train_X, train_y)

decision_tree_pred = df_decision_tree_model.predict(val_X)

print("Decision Tree Mean Absolute Error: " + str(mean_absolute_error(val_y, decision_tree_pred)))

Decision Tree Mean Absolute Error: 66.56345661889138

### Método 1 -  Random Forest

In [13]:
df_forest_model = RandomForestRegressor(random_state=1)
df_forest_model.fit(train_X, train_y)
df_forest_pred = df_forest_model.predict(val_X)
print("Random Forest Mean Absolute Error: " + str(mean_absolute_error(val_y, df_forest_pred)))

Random Forest Mean Absolute Error: 58.807244507673275

### Método 1 - XGBoost

In [14]:
df_XGBoost_model = XGBRegressor(random_state=1, n_estimators=1000, learning_rate=0.05)
df_XGBoost_model.fit(train_X, train_y, 
             early_stopping_rounds=25, 
             eval_set=[(val_X, val_y)],
             verbose=False)

XGBoost_predictions = df_XGBoost_model.predict(val_X)
print("XGBoost Mean Absolute Error: " + str(mean_absolute_error(val_y, XGBoost_predictions)))

XGBoost Mean Absolute Error: 63.21999721507463

# Método 2 - Usando One Hot Encoding

In [61]:
df_OH = df[['qtdd_cap', 'desc_mod', 'correto']]
df_OH.head()

  qtdd_cap                 desc_mod  correto
0       30   bupropiona cloridrato      39.9
1       60             finasterida      43.6
2       60     nac silimarina same     111.4
3       60              anastrozol      43.6
4      120   dutasterida tadalafil     146.0